div{
    background-color: aquamarine;
    width:200px;
    height:200px;
    margin:10px 10px 10px;
    text-align: center;
    
}
.paragraph-1,.paragraph-2,.paragraph-3{
    margin: 50px;
    
    flex-direction: column;
    display: flex;
    align-items: center;
}
.container{
    background-color: brown;
   width: 50vw;
   height: 100vw;
   padding:200px

}