body {
  background-image: url("https://media.istockphoto.com/id/1451426770/photo/passengers-waiting-to-board-subway-train.jpg?s=612x612&w=0&k=20&c=jRKFFZuOn_krhE7UHBoGIHEwiRJaeRje4DVHnCnXIKw=");
  background-repeat: no-repeat;
  opacity: 2px;
  width: fit-content;
  height: 200px;
}
